<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div id="app">
            <!-- <h1>Let's play {{playerName}}!</h1> -->
        <div v-if="playerNameStatus" class="playground">
            <div v-for="(el,index) in fields" @click=" fieldClick(index),append(index, playerSymbol)"  class="field">
                <span ></span>
            </div>
        </div>
        <div v-else="" class="nickname">
            <h1>Insert Nickname</h1>
            <input 
            type="text"
            placeholder="Nickname" 
            v-model="playerName" 
            @keyup.enter="playerNameStatus = true">  
            <br>
            <span>Press Enter</span>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>